* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OverPass", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #131518;
    font-size: 17px;
}

.container,
.thank-you-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon-details {
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    height: 360px;
    width: 390px;
    background: radial-gradient(circle, #232A34 0%, #181E27 100%);
    padding: 22px;
}

img {
    background-color: hsl(213, 15%, 23%);
    padding: 12px;
    width: 50px;
    border-radius: 30px;
    overflow: hidden;
}

h2 {
    margin-top: 15px;
    color: white;
    gap: 20%;
}

p {
    color: #969FAD;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 30px;
    font-weight: lighter;
}

.button-rating {
    justify-content: space-around;
    display: flex;
    gap: 10px;
}

.button-rating__button {
    width: 50px;
    height: 50px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 60%;
    background-color: #262E38;
    border: none;
    padding: 15px;
    color: #969FAD;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: hsl(25, 97%, 53%);
}
button:focus {
    background-color: hsl(0, 0%, 77%);
}
.submit-answer button:focus {
    background-color: hsl(0, 0%, 77%);
}

.submit-answer {
    display: flex;
    margin: 15px;
    justify-content: center;
}

.submit-answer__button {
    width: 300px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #FC7614;
    font-weight: bold;
    color: #131518;
    text-transform: uppercase;
}

span {
    letter-spacing: 4px;
    font-size: 15px;
}

.thank-you-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thank-you-state img {
    margin-bottom: 10px;
    width: 10em;
}

.hidden {
    display: none;
}

.rating-selected {
    background-color: hsl(213, 15%, 23%);
    color: hsl(25, 97%, 53%);
    font-size: 0.9rem;
    padding: 0.4rem 0.7rem 0.2rem;
    margin-bottom: 15px;
    border-radius: 30px;
}
@media only screen and (min-width: 375px) {

    .rating-state,
    .thank-you-state {
        border-radius: 25px;
        height: 370px;
        width: 380px;
    }

    .rating-state img {
        width: 42px;
    }

    h1 {
        font-size: 2em;
    }

    .submit-button {
        margin-top: 35px;
    }

    .submit-button button {
        width: 330px;
    }

    .thank-you-state img {
        width: 12em;
    }
}